*{
    border:2px black solid;

}
.header{
    display:flex;
    justify-content:space-between;
}
.logo{
    font-size: 300%;
    font-weight:700;
    justify-content: center;
    align-items: center;
}
.links{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.item1 .item2 .item3{

}
.head.content{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.head.left{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.head.right{

}